@import url(http://fonts.googleapis.com/css?family=Nunito:300);
@import url(http://fonts.googleapis.com/css?family=Sail|Oleo+Script|Monoton|Playball|Megrim);
@import url(http://fonts.googleapis.com/css?family=Damion);
@import url(http://fonts.googleapis.com/css?family=Nova+Mono|Leckerli+One);
@import url(http://fonts.googleapis.com/css?family=Cabin:400,400italic|Sonsie+One|Pacifico|Cuprum:400,700);

/******  Fonts     **********
font-family: 'Cuprum', sans-serif;   p
font-family: 'Pacifico', cursive;   c+
font-family: 'Sonsie One', cursive; 
font-family: 'Cabin', sans-serif;
font-family: 'Playball', cursive;
font-family: 'Damion', cursive;

****************************/

/*body {
  margin:0;
  background-color:#C6BC5E;
background-image: 
radial-gradient(circle at 100% 150%, #C6BC5E 24%, #0B2532 25%, #0B2532 28%, #C6BC5E 29%, #C6BC5E 36%, #0B2532 36%, #0B2532 40%, transparent 40%, transparent),
radial-gradient(circle at 0    150%, #C6BC5E 24%, #0B2532 25%, #0B2532 28%, #C6BC5E 29%, #C6BC5E 36%, #0B2532 36%, #0B2532 40%, transparent 40%, transparent),
radial-gradient(circle at 50%  100%, #0B2532 10%, #C6BC5E 11%, #C6BC5E 23%, #0B2532 24%, #0B2532 30%, #C6BC5E 31%, #C6BC5E 43%, #0B2532 44%, #0B2532 50%, #C6BC5E 51%, #C6BC5E 63%, #0B2532 64%, #0B2532 71%, transparent 71%, transparent),
radial-gradient(circle at 100% 50%, #0B2532 5%, #C6BC5E 6%, #C6BC5E 15%, #0B2532 16%, #0B2532 20%, #C6BC5E 21%, #C6BC5E 30%, #0B2532 31%, #0B2532 35%, #C6BC5E 36%, #C6BC5E 45%, #0B2532 46%, #0B2532 49%, transparent 50%, transparent),
radial-gradient(circle at 0    50%, #0B2532 5%, #C6BC5E 6%, #C6BC5E 15%, #0B2532 16%, #0B2532 20%, #C6BC5E 21%, #C6BC5E 30%, #0B2532 31%, #0B2532 35%, #C6BC5E 36%, #C6BC5E 45%, #0B2532 46%, #0B2532 49%, transparent 50%, transparent);
background-size:100px 50px;
}*/

.lander{
  height: 50vw;
  background:url("http://i296.photobucket.com/albums/mm195/Zlerp/howl_landscape_zps4h8qxbcs.png");
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
  z-index: -1;
}

#ship {
  display: inline;
  width: 35vw;
  height: 32vw;
  background:url("http://i296.photobucket.com/albums/mm195/Zlerp/057c6aba-d500-4c37-ac00-260995c88bac_zpsp2qky34k.png");
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: 25vw; 
  margin-top: 12%;
}
#stick {
  display: inline;
  margin: 0 0 0;
  z-index: 1;
  width: 4vw;
  height: 6vw;
  position: absolute;
    top:43vw; right:0; bottom:0; left:64vw;
  background:url("http://i296.photobucket.com/albums/mm195/Zlerp/stick-man_zps2lb2rdlt.png");
  background-repeat: no-repeat;
  background-size: cover;
}
#kid {
  display: inline;
  margin: 0 0 0;
  z-index: 1;
  width: 4vw;
  height: 4vw;
  position: absolute;
    top:46vw; right:0; bottom:0; left:60vw;
  background:url("http://i296.photobucket.com/albums/mm195/Zlerp/lil-kid_zpswombrxq5.png");
  background-repeat: no-repeat;
  background-size: cover;
}

#name{
  font-family: 'Damion', cursive;
  margin: 0 0 0;
  opacity: .6;
  height: 1em;
  width: 7em;
  font-weight: 800;
  text-align: center;
  font-border color: #00662a; 
  position: absolute;
    top:13em; right:0; bottom:0; left:25em;
    font-size:3vw;
    color: white;
    text-shadow: 0px 1px 2px #000000;
 
}

div.fixed {
  font-family: 'Playball', cursive;
  color: #00cc7e;
  font-size: 10vw;
  text-shadow: 0 2px 4px #000; /* horizontal-offset vertical-offset 'blur' colour */
    letter-spacing: 1px;
    width: 4em;
    text-align: center;
    opacity: 0.8;
    position: absolute;
    top:.6em; right:0; bottom:0; left:5.5em;
}

.menuBar{

  width: 100%;
  height: 5.35vw;
  background-color: #0B2532;
  text-align: center;
  border-spacing: 3em;
  margin-bottom:  0em;
}

.menuBar li {
  color: white;
  display: inline;
  text-decoration: none;
  font-size: 4vw;
  font-family: 'Leckerli One', cursive;
  text-shadow: 0 2px 2px #000;
  opacity: .7;
  margin:0 5vw 0em 5vw;

}
ul{
  margin: 0 0 0 0;
}

.menuBar li ::hover {
  box-shadow: 1em 1em .5em #ffffff;
}

.content{
  margin: 0 auto;
  /*border: .2em inset #2DB59D;*/
  height: 27vw;
  background-color: #F8F8F8;
  font-family: 'Cabin', sans-serif;
  font-size: .8em;
  font-weight: 800;
  text-align: center;
  margin-top: -5.5vw;
}


.filler1 h2{

  font-family: 'Pacifico', cursive;
  color: #202020 ;
  font-size: 7vw;
  letter-spacing: .1em;
  text-shadow: 0 .05vw 0 #000000;
  padding-top: 4vw;
}

.filler1 p{ 

  color: #606060;
  padding: 0 5em 0 5em;
  font-size: 2vw;
  opacity: .7;
  margin-top: -3vw;
}

.infoBlock{
  height: 50vw;
  width: 100%;
  background-color: #2DAF97;

}



div.footer {
width: 100%;
height: 8.8vw;
background-color: #0B2532;
display: inline-table;
position: absolute;
bottom:0; 
}
nav li{
  display: inline-block;
  width: 10vw;
  height: 3vw;
  opacity: .5;
}
nav.footy{
  text-align: center;
  word-spacing: 5vw;
}


li#fb
{
  background:url("piccs/1436071607_46-facebook.png");
  height: 100%;
  width:100%;
  background-color: #080808
}
#in
#twit
#mail

/*   EXTRA SHIT

.successfully-saved.hide-opacity{
    opacity: 0;
}

.successfully-saved {
    color: #FFFFFF;
    text-align: center;

    -webkit-transition: opacity 3s ease-in-out;
    -moz-transition: opacity 3s ease-in-out;
    -ms-transition: opacity 3s ease-in-out;
    -o-transition: opacity 3s ease-in-out;
     opacity: 1;
}



body { 
  font-family: "Nunito", sans-serif; 
  font-size: 24px; 
  background-color: #092531;
  margin: 0px;
}
a    { text-decoration: none; }
sup  { font-size: 36px; font-weight: 100; line-height: 55px; }

.button
{
  opacity: .7;
  text-transform: uppercase;
  letter-spacing: .3em;
  text-align: center;
  color: #0C5;
  font-size: 2vw;
  font-family: "Nunito", sans-serif;
  font-weight: 300;
  margin-left: 70% ;
  position: absolute; 
  top:17em; right:0; bottom:0; left:0;
  
  padding: 1em;
  width: 6em;
  height:.1em;

  background: #0D6;
  border: .3em inset #0D6;
  color: #FFF;
  overflow: hidden;
  
  transition: all 0.5s;
}

}
.button:hover, .button:active 
{
  text-decoration: none;
  color: #0C5;
  border-color: #0C5;
  background: #FFF;
}

.button span 
{
  display: inline-block;
  position: relative;
  padding-right: 10%;
  right: 0em;
  bottom: .5em;
  width: 7em;
}

.button span:after 
{
  content: ' ';  
  position: absolute;
  top: 0;
  right: -2em;
  opacity: 0;
  width: .6em;
  height: .6em;
  margin-top: -.4em;


  background: rgba(0, 0, 0, 0);
  border: .18em solid #FFF;
  border-top: none;
  border-right: none;

  transition: opacity 0.5s, top 0.5s, right 0.5s;
  transform: rotate(-45deg);
}

.button:hover span
{
  right: 1em;
  transition: 0.5s;
  
}

.button:hover span:after, .button:active span:after 
{
  transition: opacity 0.5s, top 0.5s, right 0.5s;
  opacity: 1;
  border-color: #FFF;
  right: 0%;
  top: 40%;
}

*/


